<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS News</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Blaka&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header__logo">Node.JS News</div>
		<%- include('./partials/search.ejs') %> 
    </header>

    <div class="wrapper">
        <div class="news-single">
            <a href="/" class="news__card">&larr;- Back</a>
            <% if(article !=null){ console.log(article.content.rendered); %>
                <img src="<%- article.thumbnail_url %>" alt="<% article.title.rendered %> ">
                <h2>
                    <%- article.title.rendered %>
                </h2>
                <p>
                    <%- article.content.rendered %>
                </p>
                <% } else { %>
                    No posts found.
                    <% } %>
                        </a>
        </div>
    </div>
</body>

</html>